@page
@model MyPizzaRazorPages.Pages.Pizzas.DeletePizzaModel
@{
}
<h1>Vil du slette</h1>

<p>Nummer:  @Model.SletPizza.Number</p>
<p>Navn:    @Model.SletPizza.Name</p>
<p>Beskrivelse:  @Model.SletPizza.Description</p>
<p>Pris:  @Model.SletPizza.Price</p>
<p>Type:  @Model.SletPizza.Type</p>
<p>Vegansk:  @Model.SletPizza.IsVegan</p>
<p>DeepPan:  @Model.SletPizza.DeepPan</p>
<p></p>
<form method="post">
    <div class="form-group">
        <input type="submit" value="Slet Pizza" asp-page-handler="Slet" asp-route-id="@Model.SletPizza.Number" class="btn btn-danger" />
    </div>
    <div class="form-group">
        <input type="submit" value="Fortryd" asp-page-handler="Fortryd" class="btn btn-primary"/>
    </div>
</form>


